/* Dashboard container */
.dashboard-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Left column */
  .dashboard-left {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    gap: 20px;
  }
  
  /* Right column */
  .dashboard-right {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    gap: 20px;
    height: 500px;
  
  }
  
  /* Recent Activity section */
  .recent-activity {
    flex-grow: 1;
  }
  
  /* Month Spending section */
  .month-spending {
    flex-grow: 1;
  }
  
  /* Payment Settings section */
  .payment-settings {
    flex-grow: 1;
  }
  
  /* Your Transactions section */
  .your-transactions {
    flex-grow: 3;
  }
  
  /* Card section */
  .card-section {
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Large card */
  .large-card {
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }