/* Container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
  box-sizing: border-box;
}

.main-container {
  display: block;
}

.body {
  background-color: #4f6bff;
}

.card {
  position: relative;
  width: 200px;
  height: 250px;
  /* Adjust the height as needed */
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Use object-fit: cover to fill and fit the image within the card */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "Lato", sans-serif;

}

.card:hover .overlay {
  opacity: 1;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 40px);
  }
}

/* Styling for hover effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: "Lato", sans-serif;
}

/* Styling for card title */
.card h3,
.card p {
  margin: 0;
  opacity: 1;
}

.card:hover h3,
.card:hover p {
  opacity: 100%;
}

/* Styling for card icon */
.card i {
  font-size: 48px;
  margin-bottom: 10px;
}

/* Styling for card overlay */
.card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  /* Update opacity to 1 */
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

/* Styling for card overlay on hover */
.card:hover::before {
  opacity: 0;
  /* Update opacity to 0 on hover */
}

/* TWO Divs Left : Right */

.card-left,
.card-right {
  width: 80%;
  /* Adjust the width as needed */
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* Adjust the height as needed */
  margin-left: 10%;
}

.card-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin-right: 10%;
}

/* Media queries for responsive design */
@media (max-width: 768px) {

  .card-left,
  .card-right {
    width: 100%;
  }

  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .card-right .card {
    width: calc(50% - 20px);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.left-card-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}



.left-card-items h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}

.left-card-items p {
  font-size: 18px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .left-card-items {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .left-card-items h1 {
    font-size: 20px;
  }

  .left-card-items p {
    font-size: 16px;
  }
}