/* Container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.main-container {
  display: block;
}

.body {
  background-color: #4f6bff;
}

.card {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "Lato", sans-serif;
}

.card:hover .overlay {
  opacity: 1;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {

  .card-left,
  .card-right {
    width: 100%;
  }
}


/* Styling for hover effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: "Lato", sans-serif;
}

/* Styling for card title */
.card h3,
.card p {
  margin: 0;
  opacity: 1;
}

.card:hover h3,
.card:hover p {
  opacity: 100%;
}

/* Styling for card icon */
.card i {
  font-size: 48px;
  margin-bottom: 10px;
}

/* Styling for card overlay */
.card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

/* Styling for card overlay on hover */
.card:hover::before {
  opacity: 0;
  /* Update opacity to 0 on hover */
}

/* TWO Divs Left : Right */

.card-left,
.card-right {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-left: 15%;
  margin-right: 15%;
  gap: 15px;
}


/* Media queries for responsive design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card-left,
  .card-right {
    width: 100%;
  }
}

@media (max-width: 1450px) {
  .container {
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
  }

  .card-left,
  .card-right {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card-left,
  .card-right {
    width: 100%;
  }
}


.left-card-items,
.right-card-items {
  margin: 0 auto;
  text-align: center;
}

.left-card-items h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-card-items p {
  font-size: 18px;
  color: #333333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 576px) {

  .left-card-items,
  .right-card-items {
    text-align: center;
  }
}